@button-color: #FFF;
@button-bg-color: #0098cf;

a.jrg-finance-btn {
    border-color: transparent;
    color: @button-color;
    background-color: @button-bg-color;

    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    display: block;
    min-height: 44px;
    padding: .71428571em 2.85714286em;

    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;

}

